# IDE
.idea/
.vscode/

# Lua tooling
lua_modules/
.luarocks/
luacov.*.out
luacov.stats.out
luacov.report.out

# Build artefacts
*.zip
dist/

# OS
Thumbs.db
.DS_Store
luacheck.out
busted.out
sim.out
__pycache__/
*.pyc
